*{
    margin: 0;
    padding: 0;
}

.account-dp {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-dp img {
    height: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-name-heading h1 {
    text-align: center;
}