* {
    margin: 0;
    padding: 0;
}

.story {
    margin-top: 2em;
}

.story textarea {
    height: 70vh;
    width: 50vw;
}

@media(max-width: 768px){
    .story-input-area textarea {
        width: 80vw;
    }
}

.others-story-and-save-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 50vw; */
}

.story-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.others-story {
    text-decoration: underline;
}